@media (max-width: 768px) {

    .banner{
        height: 57vh;
    }

    .title img {
        margin-top: 4rem;
        width: 40%;
    }
    
    .arrow img {
      margin-left: 25rem;
      margin-top: -5rem;
      width: 10%;
    }
    
    .banner-text h1 {
        margin-top: 7rem;
        font-size: 2.5rem;
        font-weight: bold;
        color: var(--bg-white);
    }

    .about-section {
        height: 50vh;
    }
   
    .about-content {
        width: 80%;
        padding-top: 4rem;
    }
    
    .about-content h1, .delicious-content h1 {
        font-size: 2.5rem;
    }
    
    .about-content p {
        font-size: 1.4rem;
        margin-top: 1rem;
    
    }

    .about-img img {
        width: 38%;
        margin-right: 8rem;
     }
    
     .about-btn a, .delicious-content a, .delicious-content-2 a{
        font-size: 1.4rem;
        padding: 1.2rem 2.7rem;
     }

    .history-section {
        height: 40vh;
    }
    
    .history-content h1 {
        font-size: 2.5rem;
        font-weight: bold;
    }
    
    .history-content p,.delicious-content p {
        font-size: 1.4rem;
        margin-top: 1rem;
    
    }

    .history-content img {
        width: 9%;
        margin-top: 6.5rem;
     }

     .delicious-food {
        height: 30vh;
    }

    .delicious-content {
        width: 90%;
        padding-top: 5rem;
        padding-bottom: 5rem;
        text-align: center;
    }

    .background-layout img {
        margin-top: 4rem;
    }

    .delicious-food-2 {
        height: 30vh;
    }
    
    .background-layout-2 img {
        height: 30vh;
    }

    .delicious-content-2 {
        width: 90%;
        padding-top: 5rem;
        padding-bottom: 5rem;
        text-align: center;
    }
    
    .delicious-content-2 h1 {
        font-size: 2rem;
    }
    
    .delicious-content-2 p {
        font-size: 1.2rem;
    }


}


/* @media (max-width: 700px) {

    .banner{
        height: 100vh;
    }

    .title img {
        margin-top: 8rem;
        width: 60%;
    }
    
    .arrow img {
      margin-left: 20rem;
      margin-top: -4rem;
      width: 20%;
    }
    
    .banner-text h1 {
        margin-top: 10rem;
        font-size: 3rem;
        font-weight: bold;
        color: var(--bg-white);
    }
   
    .about-content {
        width: 90%;
    }

    .history-section {
        height: 70vh;
    }

    .history-content img {
        width: 8rem;
        margin-top: 6rem;
     }

     .delicious-food {
        height: 100vh;
    }

    .delicious-content {
        width: 90%;
        padding-top: 5rem;
        padding-bottom: 5rem;
        text-align: center;
    }

    .delicious-food-2 {
        height: 100vh;
    }
    
    .background-layout-2 img {
        height: 50vh;
    }

    .delicious-content-2 {
        width: 90%;
        padding-top: 5rem;
        padding-bottom: 5rem;
        text-align: center;
    }
    


} */


/* @media (max-width: 464px) {

    .banner{
        height: 52vh;
    }

    .title img {
        margin-top: 5rem;
        width: 40%;
    }
    
    .arrow img {
      margin-left: 16rem;
      margin-top: -3.5rem;
      width: 15%;
    }
    

    .about-section {
        height: 59vh;
    }

    .about-img img {
        width: 55%;
        margin-right: 8rem;
     }
    
    .history-section {
        height: 35vh;
    }
    

    .history-content img {
        margin-top: 2rem;
     }

     .delicious-food {
        height: 62vh;
    }

    .delicious-content {
        width: 90%;
        padding-top: 5rem;
        padding-bottom: 5rem;
        text-align: center;
    }

    .background-layout img {
        margin-top: 2rem;
    }

    .delicious-food-2 {
        height: 62vh;
    }

} */